body {
    background-image: url("images/background.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 8px;
    margin: 10px 8px;
}
.form1 > input {
    border-radius: 6px;
    background-color: whitesmoke;
    margin: 3px 3px 35px 3px;

}